
.col-3,.col-6{
    border: 1px solid gray;
    text-align: center;
    background-color:beige;
    border-radius:5px;
}
.col-6{
    background-color: rgb(214, 214, 214);
}
input{
    text-align: right;
}
button:hover{
    filter: brightness(0.9);
    border: 1px solid cyan;
}
input{
    color:darkgray
}
.label{
    border: 1px solid black;
    background-color: aliceblue;
    text-align: right;
    border-radius: 10px;
}